.container {
    display: block;
    position: relative;
    padding-left: 41px;
    padding-top: 5px;
    margin-bottom: 13px;
    cursor: pointer;
    font-size: 21px;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background: #eee;
}

.container:hover input ~ .checkmark {
    background: #ccc;
}

.container input:checked ~ .checkmark {
    background: #FF6B6B;
}

.checkmark::after {
    content: "🦄";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark::after {
    display: block;
}

.container .checkmark::after {
    top: 2px;
    left: 2px;
}
